* {
  box-sizing: border-box;
  /* overflow: hidden; */
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Merriweather", serif;
  background-color: #e4f9f5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}

h3 {
  color: #11999e;
}
.HomeCard {
  width: 300px;
  height: 400px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  border: none;
  background: #e4f9f5;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5%;
}
.imgCardDiv {
  position: relative;
  height: 100%;
  width: 100%;
}
.coveringCard {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f0f2eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
#firstImgCoveringCard {
  width: 20%;
  position: absolute;
  top: 15px;
  right: 15px;
}
.secondImgCoveringCard {
  width: 100%;
  margin-left: 0;
  border-radius: 5%;
  height: 100%;
  border: none;
}
.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 0 15px 4px white;
  width: 400px;
  font-size: x-large;
}
.buttonDiv {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.myButton {
  width: 420px;
  height: 75px;
  box-shadow: 0px 1px 3px 0px #91b8b3;
  background-color: #e1e8eb;
  border-radius: 5px;
  border: 1px solid #566963;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  display: flex;
  justify-content: center;
}
.myButton:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}

.imgDiv {
  width: 200px;
  border-radius: 5%;
}
.skillsCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardSkillsCon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#skillsHeader {
  color: #536162;
  text-decoration: bold;
  padding: 20px;
}

.footer {
  height: 80px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footerIcon {
  width: 30px;
  margin-left: 10px;
}

.mainCointenerForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formCon {
  width: 800px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form {
  width: 40%;
}
.formImgDiv {
  width: 50%;
}

.formImg {
  width: 300px;
  width: 100%;
}

.header {
  /* margin-top: 50px; */
  color: white;
  display: flex;
  flex-direction: row;

  width: 100%;
  justify-content: space-between;
}
.headerEmail {
  color: #a7bbc7;
  font-weight: bolder;
  font-size: 16px;
}

.homeHeader {
  background-color: #e4f9f5;
  margin-top: 0px;
  text-align: center;
  margin-top: 100px;
}
.cloudImg {
  position: absolute;
}
#mountainImg {
  width: 20%;
  opacity: 0.9;
}
.firstCloudImg {
  position: absolute;
  right: 300px;
  top: 50;
  opacity: 0.8;
}
.secondCloudImg {
  position: absolute;
  left: 200px;
  bottom: 100px;
  opacity: 0.8;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1;
  height: calc(100% - 80px);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 130px 0 0;
  padding: 30px;
  color: black;
}
.link {
  color: #11999e;
  text-decoration: none;
  margin-bottom: 20px;
}
.routing {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0% 1 0;
  overflow-y: auto;
}
.routing::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.routing::-webkit-scrollbar-track {
  background: white;
}
.routing::-webkit-scrollbar-thumb {
  background: #ddd;
  visibility: hidden;
}
.routing:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.routing {
  overflow: auto;
}

#mainHeader {
  font-family: "Sacramento", cursive;
  font-size: 5.625em;
  margin: 50px auto 0px auto;
  color: #66bfbf;
}
#secondHeader {
  font-size: 2.5em;
  color: #66bfbf;
  font-weight: normal;
  line-height: 2;
}

#techLogo {
  width: 50px;
  border-radius: 100%;
}
.summaryContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summaryHeader {
  text-align: center;
}
.skillsCon {
  display: flex;
  flex-direction: column;
}
#portfolioHeader {
  text-align: center;
}
.cartoonImg {
  width: 10%;
  border-radius: 100%;
}
.homeCards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.cardsHeader {
  text-align: center;
  margin-top: 20px;
}

.card {
  width: 20rem;
  height: 30rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-left: 20px;
  margin-right: 20px;
}
.card-img-top {
  width: 30%;
  border-radius: 100%;
  margin-left: 100px;
  background: #66bfbf;
}
.card-body {
  width: 100%;
  font-size: larger;
  color: #a7bbc7;
  direction: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
